body {
  background-color: #d2c69e;
}

html, body {
  width: 100%;
}

h1 {
  color: #9b111e;
  text-align: center;
}

.topnav {
  overflow: hidden;
}

.newarticle {
  color: black;
  text-align: center;
}

table {
  margin: 0 auto;
}
